<% content_for :outside_container do %>
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Welcome <%= current_user.name %></h2>
          <%= govuk_link_to "Edit name", edit_preferred_name_path, "data-test": "edit-name" %>
        </div>
      </div>
    </div>
  </div>

  <div class="blue-header">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl blue-header__title">
            <% if current_user.mentor? %>
              Plan compelling feedback and coaching sessions
            <% else %>
              Develop the skills you need to thrive
            <% end %>
          </h1>

          <p class="blue-header__text govuk-body-l">
            <% if current_user.mentor? %>
              Using the materials available in this service, you can support your school’s early career teachers to
              develop the skills they need to thrive.
            <% else %>
              Using the materials available in this service, you’ll be able to put what you learn into practice in the classroom.
            <% end %>
          </p>

          <% if current_user.core_induction_programme %>
            <%= render GovukComponent::StartNowButton.new text: "Start now", href: cip_path(current_user.core_induction_programme) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if current_user.core_induction_programme %>
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l govuk-!-margin-top-2">How this programme works</h2>
          <p>
            <% if current_user.mentor? %>
              Read <%= govuk_link_to "this guidance", training_and_support_path %> to see what early career teachers will be learning and how you can help them put it into practice.
            <% else %>
              Read this <%= govuk_link_to "brief guide", training_and_support_path %> to see how the programme is structured across your 2-year induction.
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
