<%= govuk_breadcrumbs breadcrumbs: course_module_breadcrumbs(current_user, @course_module) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if policy(@course_module).edit? %>
      <%= govuk_link_to "Edit module content", edit_module_path(@course_module), button: true%>
    <% end %>
    <h1 class="govuk-heading-l"> <%= @course_module.term_and_title %></h1>

    <% if current_user&.early_career_teacher? %>
      <div class="gem-c-govspeak govuk-govspeak ">
        <%= @course_module.ect_summary_to_html.html_safe %>
      </div>
    <% end %>
    <% if current_user&.mentor? %>
      <div class="gem-c-govspeak govuk-govspeak ">
        <%= @course_module.mentor_summary_to_html.html_safe %>
      </div>
    <% end %>

    <% if current_user&.admin? %>
      <% if @course_module.ect_summary %>
        <h2 class="govuk-heading-m">ECT summary:</h2>
        <div class="gem-c-govspeak govuk-govspeak ">
          <%= @course_module.ect_summary_to_html.html_safe %>
        </div>
      <% end %>
      <% if @course_module.mentor_summary %>
        <h2 class="govuk-heading-m">Mentor summary:</h2>
        <div class="gem-c-govspeak govuk-govspeak ">
          <%= @course_module.mentor_summary_to_html.html_safe %>
        </div>
      <% end %>
    <% end %>

    <ul class="app-task-list__items">
      <% if @course_lessons_with_progress.each do |lesson| %>
        <li class="app-task-list__item">
          <h2 class="govuk-heading-m"><%= lesson.title %></h2>
          <p class="govuk-body"><%= lesson.ect_summary %></p>

          <% if lesson.course_lesson_parts.any? %>
            <div class="app-task-list__section">
              <%= govuk_link_to "Work through the self-study material#{
                  lesson.completion_time_in_minutes ? " (#{lesson.completion_time_in_minutes} minutes)" : ""
                }", lesson_path(lesson) %>
              <%= render ProgressLabelComponent.new progress: lesson.progress %>
            </div>
          <% end %>
        </li>
      <% end.empty? %>
        <li>No course lessons were found!</li>
      <% end %>
    </ul>

    <nav class="step-by-step-navigation" role="navigation" aria-label="Lesson Part Navigation">
      <ul class="step-by-step-navigation__list">
        <% if @course_module.previous_module %>
          <%= render NavigationPreviousComponent.new(
            url: module_path(@course_module.previous_module),
            text: @course_module.previous_module.title) %>
        <% end %>

        <% if @course_module.next_module %>
          <%= render NavigationNextComponent.new(
            url: module_path(@course_module.next_module),
            text: @course_module.next_module.title) %>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
