<%= govuk_breadcrumbs breadcrumbs: course_module_breadcrumbs(current_user, @course_module) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if policy(@course_module).edit? %>
      <%= govuk_link_to "Edit module content", edit_module_path(@course_module), button: true%>
    <% end %>
    <h1 class="govuk-heading-l"> <%= @course_module.term_and_title %></h1>

    <% if current_user&.admin? %>
      <% if @course_module.ect_summary %>
        <h2 class="govuk-heading-m">ECT summary:</h2>
        <div class="gem-c-govspeak govuk-govspeak ">
          <%= @course_module.ect_summary_to_html.html_safe %>
        </div>
      <% end %>
      <% if @course_module.mentor_summary %>
        <h2 class="govuk-heading-m">Mentor summary:</h2>
        <div class="gem-c-govspeak govuk-govspeak ">
          <%= @course_module.mentor_summary_to_html.html_safe %>
        </div>
      <% end %>
    <% end %>

    <ul class="app-task-list__items">
      <% if @course_lessons_with_progress.each do |lesson| %>
        <li class="app-task-list__item">
          <h2 class="govuk-heading-m">
            <% if current_user.admin? %>
              <%= govuk_link_to lesson.title_for(current_user), lesson_path(lesson) %>
            <% else %>
              <%= lesson.title_for(current_user) %>
            <% end %>
          </h2>

          <% if current_user&.admin? %>
            <% if lesson.ect_summary %>
              <h3 class="govuk-heading-s">ECT summary:</h3>
              <p class="govuk-body"><%= lesson.ect_summary.presence || "No summary available" %></p>
            <% end %>
            <% if lesson.mentor_summary %>
              <h3 class="govuk-heading-s">Mentor summary:</h3>
              <p class="govuk-body"><%= lesson.mentor_summary.presence || "No summary available" %></p>
            <% end %>
          <% elsif current_user.mentor? %>
            <p class="govuk-body"><%= lesson.mentor_summary.presence %></p>
          <% else %>
            <p class="govuk-body"><%= lesson.ect_summary.presence %></p>
          <% end %>

          <% if lesson.course_lesson_parts.any? %>
            <div class="app-task-list__section">

               <% if current_user&.early_career_teacher? %>
                 <%= govuk_link_to "Work through the self-study material#{
                    lesson.completion_time_in_minutes ? " (#{lesson.completion_time_in_minutes} minutes)" : ""
                  }", lesson_path(lesson) %>
                 <%= render ProgressLabelComponent.new progress: lesson.progress %>
               <% else %>
                  <%= govuk_link_to "View the teacher's self study materials", lesson_path(lesson) %>
               <% end %>

            </div>
          <% end %>
        </li>
      <% end.empty? %>
        <li>No course lessons were found!</li>
      <% end %>
    </ul>
  </div>
</div>
