<% if course_modules.each do |course_module| %>
  <ul class="app-task-list__items">
    <li>
      <div class="app-task-list__item">
        <h3 class="govuk-heading-m">
          <%= govuk_link_to(course_module.title, module_path(course_module)) %>
        </h3>

          <% if current_user.admin? %>
            <h4 class="govuk-heading-s">Mentor summary</h4>
            <% if course_module.mentor_summary.present? %>
              <%= render GovspeakComponent.new(content: course_module.mentor_summary) %>
           <% else %>
              <p>No mentor summary</p>
            <% end %>

            <h4 class="govuk-heading-s">ECT summary</h4>
            <% if course_module.ect_summary.present? %>
              <%= render GovspeakComponent.new(content: course_module.ect_summary) %>
            <% else %>
              <p>No ECT summary</p>
            <% end %>

          <% elsif current_user.mentor? %>
            <%= render GovspeakComponent.new(content: course_module.mentor_summary) %>
          <% else %>
            <%= render GovspeakComponent.new(content: course_module.ect_summary) %>
          <% end %>

        <% if current_user.early_career_teacher? %>
          <div class="app-task-list__section">
            <span><%= course_module.self_study_lessons.count.humanize.capitalize %> self-study <%= "session".pluralize(course_module.course_lessons.count) %></span>

            <%= render ProgressLabelComponent.new progress: course_module.progress %>
          </div>
        <% end %>
      </div>
    </li>
  </ul>
<% end.empty? %>
  <p>No course modules were found!</p>
<% end %>
