<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Create an additional course year</h1>
    <%= form_with model: @course_year, url: cip_create_year_path(@core_induction_programme), method: :post, id: "course-year-create-form" do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_text_field :title, label: { text: 'Course year title' } %>
      <%= f.govuk_text_area(
            :content,
            label: { text: 'Course year content' },
            hint: { text: 'This content will be included at the top of the course year' },
            rows: 10
          ) %>
      <%= f.govuk_submit "Create" %>
    <% end %>
  </div>
</div>
