<%= govuk_breadcrumbs breadcrumbs: course_year_breadcrumbs(current_user, @course_year) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= @course_year.title_for(current_user) %></h1>

    <% if @cip.course_year_two_id %>
      <%= render SubnavComponent.new do |component| %>
        <%= component.nav_item(path: year_path(@cip.course_year_one)) do %>
          Year 1
        <% end %>
        <%= component.nav_item(path: year_path(@cip.course_year_two)) do %>
          Year 2
        <% end %>
      <% end %>
    <% end %>

    <% if current_user&.admin? %>
      <div class="govuk-button-group">
        <%= govuk_link_to "Create CIP Module", cip_create_module_path(@cip), button: true %>
        <%= govuk_link_to "Create CIP Lesson", cip_create_lesson_path(@cip), button: true %>
        <%= govuk_link_to "Edit year content", edit_year_path(@course_year), button: true %>
      </div>
    <% end %>

    <% if @course_year.course_modules.empty? %>

      <% if current_user&.early_career_teacher? %>
        <p>
          The second year offers you the chance to focus on developing your skills in specific areas within the modules.
        </p>
        <p>
          It also allows you to catch up on anything you might have missed in the first year.
        </p>
        <p>
          We’ll give you more details here about how the second year works closer to the time.
        </p>
      <% else %>
        <p>
          The second year offers the ECT the chance to focus on developing their skills in specific areas within the modules.
        </p>
        <p>
          It also allows them to catch up on anything they might have missed in the first year.
        </p>
        <p>
          We’ll give you more details here about how the second year works closer to the time.
        </p>
      <% end %>

    <% else %>

      <%= render GovspeakComponent.new(content: @course_year.content) %>

      <h2 class="govuk-heading-l">Autumn term</h2>
      <%= render "module_list", locals = { course_modules: @course_year.autumn_modules_with_progress(current_user) } %>

      <h2 class="govuk-heading-l">Spring term</h2>
      <%= render "module_list", locals = { course_modules: @course_year.spring_modules_with_progress(current_user) } %>

      <h2 class="govuk-heading-l">Summer term</h2>
      <%= render "module_list", locals = { course_modules: @course_year.summer_modules_with_progress(current_user) } %>

    <% end %>
  </div>
</div>
