<%= govuk_breadcrumbs breadcrumbs: course_year_breadcrumbs(current_user, @course_year) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if current_user.is_an_nqt_plus_one_ect? %>
      <%= render "nqt_plus_one_banner" %>
    <% end %>

    <h1 class="govuk-heading-xl"><%= @course_year.title_for(current_user) %></h1>

    <% if @cip.course_years.count > 1 %>
      <%= render SubnavComponent.new do |component| %>
        <% @cip.course_years.each do |course_year| %>
          <%= component.nav_item(path: year_path(course_year)) do %>
            Year <%= course_year.position %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if current_user&.admin? %>
      <div class="govuk-button-group">
        <% if show_create_year?(@cip) %>
          <%= govuk_link_to "Create CIP Year", cip_create_year_path(@cip), button: true %>
        <% end %>
        <%= govuk_link_to "Create CIP Module", cip_create_module_path(@cip), button: true %>
        <%= govuk_link_to "Create CIP Lesson", cip_create_lesson_path(@cip), button: true %>
        <%= govuk_link_to "Edit year content", edit_year_path(@course_year), button: true %>
      </div>
    <% end %>

    <% if @course_year.course_modules.empty? %>
        <p>
          There are no new materials in Year 2.
        </p>
        <p>
          <%= current_user&.early_career_teacher? ? "Use the" : "ECTs should use the" %>
          second year to revisit any topics from the first year you think need further development.
        </p>
        <p>
          We recommend you regularly catch up with
          <%= current_user&.early_career_teacher? ? "your mentor to reflect on what you’ve" : "them to reflect on what they’ve" %>
          learnt, discuss any issues or concerns, and decide what actions to take going forward.
        </p>
    <% else %>

      <%= render GovspeakComponent.new(content: @course_year.content) %>

      <h2 class="govuk-heading-l">Autumn term</h2>
      <%= render "module_list", locals = { course_modules: @course_year.autumn_modules_with_progress(current_user) } %>

      <h2 class="govuk-heading-l">Spring term</h2>
      <%= render "module_list", locals = { course_modules: @course_year.spring_modules_with_progress(current_user) } %>

      <h2 class="govuk-heading-l">Summer term</h2>
      <%= render "module_list", locals = { course_modules: @course_year.summer_modules_with_progress(current_user) } %>

    <% end %>
  </div>
</div>
